---
import Paragraph1 from "../content/main/paragraph1.md";
import Paragraph2 from "../content/main/paragraph2.md";
import Header from "../content/main/header.md";
import Layout from "../layouts/Layout.astro";
import ContactForm from "../content/main/contact.md";
import PageGrid from "../components/page-grid.astro";
import Footer from "../components/footer.astro";

---

<Layout>
 
    <Header />
	<PageGrid>
   <div class="page-paragraphs">
	<Paragraph1 />
	<Paragraph2 />
   </div>
   <ContactForm />
   <Footer />
  </PageGrid>
</Layout>



<style is:global>
	.page-paragraphs {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: 100px;
	}
</style>