
<div class="page-grid">
  <slot />
</div>



<style>
    .page-grid {
        max-width: 1500px;
        widows: 100%;
        padding: 0px 40px;
        margin-left: auto;
        margin-right: auto;
    }
</style>