---
---

<div class="terms">
  <slot />
</div>

<style is:global>
  .terms {
    margin-top: 50px;
    margin-bottom: 80px;
  }
  .terms p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .terms li {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .terms h3 {
    font-size: 24px;
    line-height: 32px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .terms a {
    color: white;
  }
  .terms strong {
    font-weight: 600;
  }
  .terms ol {
    margin-bottom: 10px;
    margin-top: 40px;
  }
</style>
